*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: montserrat;
    color: var(--clr4);
    line-height: 1.8;
    height: 100%;
}

body {
    font-size: 1rem;
    background-color: var(--clr3);
}

img {
    width: 100%;
}

button {
    padding-block: 0.5rem;
    padding-inline: 0.6rem;
    border-style: none;
    cursor: pointer;
}