/* MAIN LAYOUT */
.main-layout {
    display: grid;
    min-height: 100%;
    grid-template-columns:
        var(--layout-padding) var(--site-width) var(--layout-padding);
    grid-template-rows: auto 1fr auto;
}

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>*.full {
    grid-column: 1/-1;
}

/* HEADER LAYOUT */
.main-header {
    display: grid;
    grid-template-columns:
        var(--layout-padding) var(--site-width) var(--layout-padding);
}

.main-header-container {
    grid-column: 2;
}

/* MAIN CONTENT LAYOUT */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
}

.main-content>* {
    grid-column: 1/-1;
}

/* GALLERY LAYOUT */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

/* EDITOR CANVAS LAYOUT */
.meme-editor-container {
    display: flex;
    flex-direction: column;
}

.canvas-container {
    margin-block-start: 1.5rem;
}

.editor-container .inp-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block-start: 1rem
}

.meme-editor-container .btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER LAYOUT */
.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}