.main-header {
    background-color: var(--clr1);
    height: 100px;
}

.main-header .main-nav li {
    margin-inline-start: 1em;
}

.main-nav li a {
    text-decoration: none;
    color: var(--clr2);
}