.saved-memes-section {
    display: none;
    padding-block: 1.5rem;
}

.saved-memes-section h1 {
    text-align: center;
    margin-block-end: 2rem;
}

.saved-memes-container img {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.saved-memes-container img:hover {
    cursor: pointer;
    opacity: 0.5;
}