:root {
    /* PALLETE */
    --clr1: #ff7f00;
    --clr2: #ffffff;
    --clr3: #e3e3e3;
    --clr4: #000000;


    /* LAYOUT */
    --layout-padding: 2rem;
    --site-width: 1fr;
    --editor-width: 750px;
}